{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My To-Do App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    form input{
        width: 30px;
    }
    body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }
  </style>
</head>
<body style="background-image: url('/static/image3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh;">

<div class="container py-5">
  <h2 class="text-center mb-4 text-white">📝 My To-Do List</h2>

  <div class="card  shadow-sm">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        
            {% if edit_task %}
            <input type="hidden" name="edit_id" value="{{ edit_task.id }}">
            {% endif %}

            <div class="row g-2">
                <div class="col-md-5">
                    <input type="text" name="title" id="title" class="form-control" placeholder="Title"
                        value="{{ edit_task.title|default_if_none:'' }}">
                </div>
                <div class="col-md-5">
                    <input type="text" name="des" id="des" class="form-control" placeholder="Description"
                        value="{{ edit_task.des|default_if_none:'' }}">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100" style="background-color: #125F89;">
                        {% if edit_task %} Update {% else %} Add {% endif %}
                    </button>
                </div>
            </div>
      </form>
    </div>
  </div>

  <div class="mb-3 text-end text-muted">
    Total Tasks: <strong>{{ all_todo }}</strong>
  </div>

  <ul class="list-group shadow-sm">
    {% for task in todo %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div>
        <h5>{{ task.title }}</h5>
        {% if task.des %}
        <p class="mb-0 small text-muted">{{ task.des }}</p>
        {% endif %}
      </div>
      <div>
        <a href="?edit_id={{ task.id }}" class="btn btn-sm btn-outline-warning me-2">Edit</a>
        <a onclick="deleteData('{{ task.id }}')"  class="btn btn-sm btn-outline-danger">Delete</a>
       
      </div>
    </li>
    {% empty %}
    <li class="list-group-item text-center text-muted">No tasks found.</li>
    {% endfor %}
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
   
        function deleteData(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch("{% url 'home' %}", {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ task_id: id })
                    })
                    .then(response => {
                        
                        location.reload()
                    });
                
                }
            });
        }
</script>
</body>
</html>
